
body, html {
    background-color: #EDECEC;
}

.navbar {
    background-color: white;
    border: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0;
}

.navbar .navbar-brand, .navbar .navbar-nav > li > a {
    color: #4CAF50;
}

main, footer {
    width: 960px;
    margin: 40px auto;
}

.glyphicon-10x {
    font-size: 30em;
}

label em {
    color: #999;
    font-weight: 300;
}

.intro {
    margin: 40px 0;
}

#map { 
    height: 300px;
    border-bottom: 2px solid rgba(162, 201, 164, 1);
}

#map.anonMap {
    height: 65vh;
}

button[type=submit] {
    margin: 50px 0;
}

footer {
    margin-top: 80px;
    text-align: right;
}

.landing-row .glyphicon {
    font-size: 50px;
    color: #4CAF50;
}

.landing-row h5 {
    font-size: 22px;
}
