<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Ruidos de Córdoba{% endblock %}</title>
        {% block styles %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>
        <link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}"></link>
        {% endblock %}
    </head>
    <body class="{% block page_class %}{% endblock %}">
        <nav class="navbar">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                    </button>
                    <a class="navbar-brand" href="{{ url_for('reports.index') }}">
                        <span class="glyphicon glyphicon-stats"></span> Observatorio de Ruido Córdoba
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ url_for('reports.index') }}">Inicio</a></li>
                        <li><a href="{{ url_for('reports.new_report') }}">Reportar</a></li>
                        {% if current_user and current_user.is_authenticated %}
                            <li class="dropdown">
                                <a class="dropdown-toggle" aria-haspopup="true" role="button" data-toggle="dropdown" href="#">
                                  {{current_user.email}} <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                {% if current_user.has_role("admin") or current_user.has_role("staff") %}
                                    <li><a href="{{ url_for('reports.admin') }}">Reportes</a></li>
                                {% endif %}
                                {% if current_user.has_role("admin") %}
                                    <li><a href="{{ url_for('reports.user') }}">Usuarios</a></li>
                                {% endif %}
                                    <li class="divider" role="separator"></li>
                                    <li><a href="{{ url_for('security.logout') }}">Salir</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li><a href="{{ url_for('security.login') }}">Ingresar</a></li>
                        {% endif %}
                    </ul>
                    </div>
                </div>
            </div>
        </nav>
        <section class="map">
            {% block map %}
            <div id="map"></div>
            {% endblock %}
        </section>
        <main>
            {% include "security/_messages.html" %}
            {% block content %}
            {% endblock %}
        </main>

        {% block footer %}
        <footer class="text-center">
            <img src="{{ url_for('static', filename='img/banner.jpg') }}" alt="logos">
            <p><span class="glyphicon glyphicon-copyright-mark"></span> 2015 - Observatorio del Ruido Córdoba</p>
            <p>Desarrollado por <a href="https://github.com/rbistolfi/cordoba_sounds">rbistolfi</a></p>
        </footer>
        {% endblock %}

        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        {% block scripts %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
        <script src="{{ url_for('static', filename='common.js') }}"></script>
        {% endblock scripts %}
    </body>
</html>
