<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Ruidos de Córdoba{% endblock %}</title>
        {% block styles %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>
        <link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}"></link>
        {% endblock %}
    </head>
    <body>
        <nav class="navbar">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                    </button>
                    <a class="navbar-brand" href="{{ url_for('reports.index') }}">
                        <span class="glyphicon glyphicon-stats"></span> Observatorio de Ruido Córdoba
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ url_for('reports.index') }}">Inicio</a></li>
                        <li><a href="{{ url_for('reports.new_report') }}">Denunciar</a></li>
                        <li><a href="{{ url_for('reports.admin') }}">Login</a></li>
                    </ul>
                    </div>
                </div>
            </div>
        </nav>
        <section class="map">
            {% block map %}
            <div id="map"></div>
            {% endblock %}
        </section>
        <main>
            {% block content %}
            {% endblock %}
        </main>

        <footer>
            <ul class="list-inline">
                <li>
                    <img src="{{ url_for('static', filename='img/unc.jpg') }}" alt="Universidad Nacional de Córdoba" width="200" height="60">
                </li>
                <li>
                    <img src="{{ url_for('static', filename='img/cial.jpg') }}" alt="CIAL" width="200" height="60">
                </li>
                <li>
                    <img src="{{ url_for('static', filename='img/fono.jpg') }}" alt="Fono" width="200" height="60">
                </li>
            </ul>
        </footer>

        {% block scripts %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="{{ url_for('static', filename='common.js') }}"></script>
        {% endblock scripts %}
    </body>
</html>
