{% extends "base.html" %} 

{% block map %}
    <div id="map" class="anonMap"></div>
{% endblock map %}

{% block content %}
<section>
    <div class="row landing-row text-center">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-stats"></span>
            <h5>Quiénes Somos</h5>
            <p class="text-muted">
                El Observatorio de Ruido de la Ciudad de Córdoba nace como una
                acción orientada al relevamiento y sistematización de datos referidos
                a la problemática de ruido en nuestra ciudad.
            </p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-education"></span>
            <h5>Profesionales</h5>
            <p class="text-muted">
                El equipo técnico está conformado por docentes, profesionales,
                investigadores pertenecientes a Escuela de Fonoaudiología de la FCM
                y del Centro de Investigaciones Acústicas de la FAUD – UNC.
            </p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-inbox"></span>
            <h5>Reportes</h5>
            <p class="text-muted">
                Puede contribuir haciendo su reporte sobre ruidos molestos
                ingresando sus datos en <a href="{{ url_for('reports.new_report') }}"> 
                la página de reportes</a>. Sus datos no serán revelados y su
                confidencialidad está garantizada.
            </p>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    INITIAL_ZOOM = 12;
    INITIAL_POSITION = [-31.419288124288343, -64.1714859008789];
    MAP_OPTIONS.scrollWheelZoom = false;
    var circles = [];
    var sizes = [998,854,710,666,622,578,534,490,446,402,358,314,270,226,142,75,54,25];


    setupMap();


    var setupData = function () {
        var data = $.getJSON(API_BASE_URL + "/anon", function (response) {
            for (var i=0; i < response.reports.length; i++) {
                var r = response.reports[i];
                drawHeatMapNode(r);
            }
        });
    };

    var drawHeatMapNode = function (node) {
        var currentZoom = map.getZoom();
        var circleSize = sizes[currentZoom - 1];
        var c = L.circle(node.position, circleSize, {
            color: "transparent",
            fillColor: "#f03",
            fillOpacity: 0.30
        });
        var popupContent = [
            "<strong>" + node.address + "</strong>",
            "Tipo de ruido: " + node.noise_type_s,
            "Grado de molestia: " + node.severity,
            "Latitud: " + node.position[0],
            "Longitud: " + node.position[1],
        ].join("<br>");
        c.bindPopup(popupContent);
        circles.push(c);
        c.addTo(map);
        node.circle = c;
    };

    map.on("zoomend", function (e) {
        var currentZoom = e.target.getZoom();
        var newRadius = sizes[currentZoom - 1];
        for (var i=0; i < circles.length; i++) {
            var c = circles[i];
            c.setRadius(newRadius);
        }
    });

    setupData();

</script>
{% endblock %}
