{% extends "base.html" %}
{% block content %}
<div class="intro">
    <h1>Reporte de Ruidos</h1>
</div>
<form>
    <fieldset id="noise_data">
        <legend>Datos del Ruido</legend>
        <p class="text-muted">Estos datos pueden ser objeto de estudio y publicados eventualmente. No incluya información personal.</p>

        <div class="form-group">
            <label for="street">Dirección del Orígen del Ruido<em>(Ejemplo: Han Solo 648)</em></label>
            <input type="text" id="address" name="address" class="form-control input-lg" placeholder="Calle número">
        </div>

        <div class="form-group">
            <label for="neighborhood">Barrio o Localidad <em>(Opcional)</em></label>
            <input type="text" id="neighborhood" name="neighborhood"
            class="form-control input-lg" placeholder="Barrio o Localidad">
        </div>

        <div class="form-group">
            <label for="noise_type">Tipo de Ruido</label>
            <select id="noise_type" class="form-control input-lg" name="noise_type">
                <option></option>
                <option value="industry">Industrial</option>
                <option value="activities">Ocio y actividades recreativas</option>
                <option value="commerce">Actividades comerciales</option>
                <option value="people">Vecinos</option>
                <option value="traffic">Tráfico y medios de transporte</option>
                <option value="work">Obras</option>
                <option value="other">No lo sé / Otro</option>
            </select>
        </div>

        <div class="form-group">
            <label for="severity">Grado de Molestia</label>
            <div class="radio" id="severity">
                <label class="checkbox-inline"><input type="radio" value="1" name="severity"> Poco Molesto</label>
                <label class="checkbox-inline"><input type="radio" value="2" name="severity"> Algo Molesto</label>
                <label class="checkbox-inline"><input type="radio" value="3" name="severity"> Molesto</label>
                <label class="checkbox-inline"><input type="radio" value="4" name="severity"> Muy Molesto</label>
                <label class="checkbox-inline"><input type="radio" value="5" name="severity"> Insoportable</label>
            </div>
        </div>

        <div class="form-group">
            <label for="comment">Comentario <em>(Información adicional o detalles sobre el tipo de ruido y su severidad)</em></label>
            <textarea id="comment" class="form-control input-lg" rows="3"></textarea>
        </div>

        <div class="form-group">
            <label for="sound">
                <span class="glyphicon glyphicon-volume-up"></span> Grabación del ruido<em>(Opcional)</em>
            </label>
            <input type="file" id="sound" name="sound" class="btn btn-default">
        </div>
    </fieldset>
    <fieldset id="personal_data">
        <legend>Datos Personales</legend>
        <p class="text-muted">Estos datos son confidenciales y no serán revelados</p>

        <div class="form-group">
            <label for="name">Nombre y Apellido</label>
            <input type="text" id="name" class="form-control input-lg" name="name">
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" class="form-control input-lg" id="email">
        </div>

        <div class="form-group">
            <label for="telephone">Teléfono <em>(Opcional)</em></label>
            <input type="text" id="telephone" class="form-control input-lg" name="telephone">
        </div>
    </fieldset>

    <button type="submit" class="btn btn-success btn-lg">
        <span class="glyphicon glyphicon-triangle-right"></span>  Enviar
    </button>
</form>

<div class="conditions alert alert-info">
    <strong>Confidencialidad</strong>
    Todos los datos personales introducidos en el presente formulario no seran
    publicados bajo ninguna circunstancia ni dados a conocer a terceros
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>

    var setupMapInput = function () {
        /* Allow positioning with double click */
        map.on("dblclick", function (e) {
            postData.position = e.latlng;
            setMarker(e.latlng.lat, e.latlng.lng);
            setMapCenter(e.latlng.lat, e.latlng.lng);
        });
    };


    var setupAddressInput = function () {
        var inputTimeout;
        var input = $("input#address");
        input.on("keyup", function (event) {
            if (inputTimeout) {
                clearTimeout(inputTimeout);
            }
            inputTimeout = setTimeout(function () {
                queryNominatim();
                clearTimeout(inputTimeout);           
            }, 500); 
        });
    };


    var setupSubmit = function () {
        $("button[type=submit]").on("click", function (event) {
            event.preventDefault();
            var $button = $(this);

            if ($button.hasClass("disabled")) {
                return;
            }

            postData.address = $("#address").val();
            postData.city = "Córdoba";
            postData.province = "Córdoba";
            postData.name = $("#name").val();
            postData.email = $("#email").val();
            postData.telephone = $("#telephone").val();
            postData.noise_type = $("#noise_type").val();
            postData.severity = $("#severity input:radio:checked").val();
            postData.comment = $("#comment").val();


            var getSoundData = function () {
                var p = new Promise(function (resolve, reject) {
                    var sound = $("#sound").get(0).files[0];
                    console.log(sound);
                    if (sound) {
                        var reader = new FileReader();
                        reader.readAsDataURL(sound);
                        reader.onloadend = function () {
                            resolve(reader.result); 
                        }
                    }
                    else {
                        resolve(null);
                    }
                });
                return p
            };


            var sendRequest = function () {
                $button.addClass("disabled");
                $.ajax({
                    contentType: "application/json",
                    data: JSON.stringify(postData),
                    dataType: "json",
                    type: "POST",
                    url: API_BASE_URL,
                });
            };


            var getLatLon = function () {
                var p = new Promise(function (resolve, reject) {
                    if (!postData.position) {
                        queryNominatim().then(function () {
                            resolve(postData.position);
                        });
                    }
                    else {
                        resolve(postData.position);
                    }
                });
                return p;
            };

            var soundPromise = getSoundData();
            var latLonPromise = getLatLon();

            Promise.all([soundPromise, latLonPromise]).then(function (results) {
                var soundData = results[0];
                var positionData = results[1];

                console.log(soundData);
                console.log(positionData);

                postData.sound = soundData;
                postData.position = positionData;
                sendRequest();
            });
        }); 
    };


    setupMap();
    setupMapInput();
    setupAddressInput();
    setupSubmit();
</script>
{% endblock scripts %}
